.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 300px; /* Adjust the maximum width of the cards as needed */
}
.card {
    min-height: 100%;
}

.card:hover {
    min-height: 120%;
    min-width: 120%;
} 